/* You can add global styles to this file, and also import other style files */

// navbar
.navbar {
  background-color: rgb(255, 230, 0) !important;
  //background-color: rgb(233, 255, 0) !important;
  color: rgb(0, 0, 0) !important;
  margin-bottom: 0 !important;
}

// footer
.footer {
  height: 6vh;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 230, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}

// home
.homeTemplate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-image: url('./assets/images/homeBackground.jpg');
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  height: 86vh;
  width: 100vw;
  //margin: 0;
  padding: 10vw;
}

// buttons
.homeBtn, .loginBtn, .registerBtn, .navBtn {
  width: 90px;
  background-color: rgb(0, 0, 0);
  border-color:rgb(0, 0, 0);
  color: rgb(255, 230, 0);
}
