<footer class="footer fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-6">
        FastOut | Beta Version
      </div>
      <div class="col-6 text-end">
        Powered by Nunzio Di Croce
        <a href="https://www.linkedin.com/in/nunzio-di-croce-93268a67/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <span> | </span>
        <a href="https://github.com/NunzioDiCroce" target="_blank" rel="noopener noreferrer">GitHub</a>
      </div>
    </div>
  </div>
</footer>

