<div class="container">
  <div class="row" *ngIf="platformDetails">
    <h4 class="mb-3">{{ platformDetails.platformName }}</h4>

    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">location: {{ platformDetails.location }}</p>
        <p class="card-text">customerType: {{ platformDetails.customerType }}</p>
        <p class="card-text">parcelsPerMonth: {{ platformDetails.parcelsPerMonth }}</p>
        <p class="card-text">parcelRate: {{ platformDetails.parcelRate }}</p>
        <p class="card-text">revenuesPerMonth: {{ platformDetails.revenuesPerMonth }}</p>
        <p class="card-text">totalCostsPerMonth: {{ platformDetails.totalCostsPerMonth }}</p>
        <p class="card-text">marginPerMonth: {{ platformDetails.marginPerMonth }}</p>
        <p class="card-text">productivity: {{ platformDetails.productivity }}</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <button class="btn btn-warning" (click)="deletePlatform()">Cancella la piattaforma</button>
      </div>
    </div>

    <button type="button" class="btn btn-secondary" (click)="navigateBack()">Back</button>

  </div>
</div>





