<div class="container">
  <div class="row">
    <button class="btn btn-primary" (click)="createEquipment()">Create Equipment</button>
    <h4 class="mb-3">Equipments</h4>
      <table class="table caption-top">
        <!--<caption>Table caption</caption>-->
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">equipmentType</th>
            <th scope="col">equipmentCost</th>
            <th scope="col">serialNumber</th>
            <th scope="col">equipmentStatus</th>
            <th scope="col">platform</th>
          </tr>
        </thead>
        <tbody class="col-12" *ngFor="let equipment of equipments; let i = index">
            <tr>
              <th scope="row">{{ currentRowNumber + i }}</th>
              <td>{{ equipment.equipmentType }}</td>
              <td>{{ equipment.equipmentCost }}</td>
              <td>{{ equipment.serialNumber }}</td>
              <td>{{ equipment.equipmentStatus }}</td>
              <td>{{ equipment.platform }}</td>
            </tr>
        </tbody>
      </table>
  </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="prevPage()">Previous</a></li>

      <li class="page-item" *ngFor="let page of totalPagesArray">
        <a class="page-link" (click)="goToPage(page)">{{ page + 1 }}</a></li>

      <li class="page-item">
        <a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
  </nav>

</div>

