
<div class="container homeTemplate">

  <div *ngIf="!user else myHome">
    <div class="row mt-5">
      <div class="col-12">
        <p>The definitive solution for managing your logistics platforms.</p>
      </div>
      <div class="col-12">
        <p>Optimize resources and monitor KPIs in real time.</p>
      </div>
      <div class="col-12">
        <p><strong>FastOut</strong>, where efficiency meets logistics.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <button type="button" class="btn btn-primary mx-2" (click)="goToLogin()">Login</button>
        <button type="button" class="btn btn-primary  mx-2" (click)="goToRegister()">Register</button>
      </div>
    </div>
  </div>

  <ng-template #myHome>
    <h4 class="mb-5">Home page</h4>
    <div class="row mb-5">
      <div class="col-12">
        <h5>Hello {{ user?.user?.name }}</h5>
      </div>
    </div>
  </ng-template>

</div>
