<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FastOut</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>

        <a class="nav-link"
        [routerLink]="['/platforms']"
        routerLinkActive="active"
        >Platforms</a>

        <a class="nav-link"
        [routerLink]="['/resources']"
        routerLinkActive="active"
        >Resources</a>

        <a class="nav-link"
        [routerLink]="['/equipments']"
        routerLinkActive="active"
        >Equipments</a>

        <a class="nav-link"
        [routerLink]="['/users']"
        routerLinkActive="active"
        >Users</a>

        <a class="nav-link disabled" aria-disabled="true">Disabled</a>

        <a class="nav-link disabled" aria-disabled="true">Disabled</a>

      </div>
    </div>
  </div>
</nav>
